
@{
    ViewBag.Title = "EmpleadoL";
}

<h2>EmpleadoL</h2>

<img src="~/Images/happyguest.jpg">
<h2>Bienvenido a la interfaz del Empleado</h2>
<h2>En proximas actualizaciones, podrás revisar mejor el sitio</h2>

